.card {
  display: flex;
  justify-content: space-between;
}

.title {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}
.cardContainer {
  font-family: "Roboto";
  padding: 24px 32px;
  background-color: #323238;
  margin-bottom: 1rem;
  border-radius: 6px;
  width: 252px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.total .cardContainer {
  background: #015F43;
  ;
}

.cardContainer > p {
  color: white;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  margin: 0;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHeader img {
  width: 26px;
  height: 26px;
}
